<?doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <style type="text/css">
      body {
        font-family: sans-serif;
      }

      table {
        border-collapse: collapse;
        margin-left: 2em;
      }

      th, td {
        border: 1px solid #d0d0d0;
        padding: 0.8em;
      }

      td.htheader {
        background-color: #eeeeee;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <p>
    {% if results['ok'] %}
      The alignment you requested has finished successfully with exit code {{ results['exit_code'] }}.
    {% elif scores is defined %}
      The alignment you requested has finished with errors (exit code {{ results['exit_code'] }}).
    {% else %}
      The alignment you requested has failed.
    {% endif %}
    </p>

    {% if results['exception'] %}
    <p>
      The following exception was caught during execution: {{ results['exception'] }}
    </p>
    {% endif %}

    <h2>
      Requested alignment information
    </h2>
    <table>
      <tr>
        <td class=htheader>
          Aligner
        </td>
        <td>
          {% if aligner_params is defined %}
            {{ aligner }}
            {% for param, value in aligner_params %}
              {{ joiner(', ') }}
              {{ param ~ '=' ~ value }}
            {% endfor %}
          {% else %}
            {{ aligner }}
          {% endif %}
        </td>
      </tr>
      <tr>
        <td class=htheader>
          Database
        </td>
        <td>
          {{ db }}
        </td>
      </tr>
      <tr>
        <td class=htheader>
          Net 1
        </td>
        <td>
          {{ net1 }} ({{ net1_details.n_vert }} nodes, {{ net1_details.n_edges }} edges)
        </td>
      </tr>
      <tr>
        <td class=htheader>
          Net 2
        </td>
        <td>
          {{ net2 }} ({{ net2_details.n_vert }} nodes, {{ net2_details.n_edges }} edges)
        </td>
      </tr>
      {% if 'run_time' in results %}
      <tr>
        <td class=htheader>
          Run time
        </td>
        <td>
          {{ results['run_time'] }} seconds
        </td>
      </tr>
      {% endif %}
    </table>

    {% if scores is defined %}
      {% if 'ec_score' in scores['ec_data'] %}
      <h2>
        Topological information
      </h2>
      <table>
        <tr>
          <td class=htheader>
            EC score
          </td>
          <td>
            {{ scores['ec_data']['ec_score'] }}
          </td>
        </tr>
        <tr>
          <td class=htheader>
            Preserved edges
          </td>
          <td>
            {{ scores['ec_data']['num_preserved_edges'] }}
          </td>
        </tr>
        <tr>
          <td class=htheader>
            Non-preserved edges
          </td>
          <td>
            {{ scores['ec_data']['num_non_preserved_edges'] }}
          </td>
        </tr>
        <tr>
          <td class=htheader>
            Non-reflected edges
          </td>
          <td>
            {{ scores['ec_data']['num_non_reflected_edges'] }}
          </td>
        </tr>
        <tr>
          <td class=htheader>
            Unaligned nodes
          </td>
          <td>
            {{ scores['ec_data']['num_unaligned_nodes_net1'] }}
          </td>
        </tr>
        <tr>
          <td class=htheader>
            Unaligned edges
          </td>
          <td>
            {{ scores['ec_data']['num_unaligned_edges_net1'] }}
          </td>
        </tr>
      </table>
      {% endif %}

      {% if 'fc_data' in scores %}
      <h2>
        Functional information
      </h2>
      <table>
        {% if 'fc_score_jaccard' in scores['fc_data'] %}
        <tr>
          <td class=htheader>
            FC score (Jaccard)
          </td>
          <td>
            {{ scores['fc_data']['fc_score_jaccard'] }}
          </td>
        </tr>
        {% endif %}
        {% if 'fc_score_hrss_bma' in scores['fc_data'] %}
        <tr>
          <td class=htheader>
            FC score (HRSS/BMA)
          </td>
          <td>
            {{ scores['fc_data']['fc_score_hrss_bma'] }}
          </td>
        </tr>
        {% endif %}
        {% if 'ann_freqs_net1' in scores['fc_data'] %}
        <tr>
          <td class=htheader>
            Unannotated proteins in net 1
          </td>
          <td>
            {{ scores['fc_data']['ann_freqs_net1'].get('0', 0) }}
          </td>
        </tr>
        {% endif %}
        {% if 'ann_freqs_net2' in scores['fc_data'] %}
        <tr>
          <td class=htheader>
            Unannotated proteins in net 2
          </td>
          <td>
            {{ scores['fc_data']['ann_freqs_net2'].get('0', 0) }}
          </td>
        </tr>
        {% endif %}
      </table>
      {% endif %}

      <figure>
        <img src="cid:ann_freq_hists.png" alt="Annotation frequencies for {{ net1 }}" />
        <figcaption>Annotation count frequencies</figcaption>
      </figure>
    {% endif %}

    {% if files is defined %}
    <h2>Supplementary files</h2>
      <table>
        <tr>
          <th>Content</th>
          <th>Link</th>
        </tr>
        <tr>
          <td class=htheader>
            Full data
          </td>
          <td>
            <a href="{{base_url}}/v2/alignment/{{result_id}}">(json)</a>
          </td>
        </tr>
        </tr>
        {% if 'alignment' in results %}
          <tr>
            <td class=htheader>
              Alignment
            </td>
            <td>
              <a href="{{base_url}}/v2/file/{{ files['alignment_tsv'] }}">(tsv)</a>
            </td>
          </tr>
        {% endif %}

        {% if scores is defined %}
          {% for score_type, key, text in [
                ('ec_data', 'non_preserved_edges',    'Non-preserved edges'),
                ('ec_data', 'non_reflected_edges',    'Non-reflected edges'),
                ('ec_data', 'invalid_images',         'Invalid image values'),
                ('ec_data', 'unaligned_nodes',        'Unaligned nodes'),
                ('ec_data', 'unaligned_edges',        'Unaligned edges'),
                ('fc_data', 'fc_values_jaccard',      'Pairwise Jaccard similarities'),
                ('fc_data', 'fc_values_hrss_bma',     'Pairwise HRSS (best match avg) similarities'),
                ('fc_data', 'unannotated_prots_net1', 'Unannotated proteins in net1'),
                ('fc_data', 'unannotated_prots_net2', 'Unannotated proteins in net2')] %}

            {% if scores is defined and score_type in scores and key in scores[score_type] %}
              <tr>
                <td class=htheader>
                  {{ text }}
                </td>
                <td>
                  <a href="{{base_url}}/v2/file/{{ files[score_type+'/'+key+'_tsv'] }}">(tsv)</a>
                </td>
              </tr>
            {% endif %}

          {% endfor %}
        {% endif %}

      </table>
    {% endif %}
  </body>
</html>
