<?doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <style type="text/css">
      body {
        font-family: sans-serif;
      }

      table {
        border-collapse: collapse;
        margin-left: 2em;
      }

      th, td {
        border: 1px solid #d0d0d0;
        padding: 0.8em;
      }

      td.htheader {
        background-color: #eeeeee;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <p>
    {% if results['ok'] %}
      The alignment you requested has finished successfully with exit code {{ results['exit_code'] }}.
    {% elif scores is defined %}
      The alignment you requested has finished with errors (exit code {{ results['exit_code'] }}).
    {% elif 'timed_out' in results and results['timed_out'] %}
      The alignment you requested has timed out.
    {% else %}
      The alignment you requested has failed.
    {% endif %}
    </p>

    {% if results['exception'] %}
    <p>
      The following exception was caught during execution: {{ results['exception'] }}
    </p>
    {% endif %}
    <p>

    When all alignments has finished you will receive an email with comparison results.
  </body>
</html>
