<?doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <style type="text/css">
      body {
        font-family: sans-serif;
      }

      table {
        border-collapse: collapse;
        margin-left: 2em;
      }

      th, td {
        border: 1px solid #d0d0d0;
        padding: 0.8em;
      }

      td.htheader {
        background-color: #eeeeee;
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <p>
    {% if results['ok'] %}
      The alignments you requested have finished successfully.
    {% else %}
      The alignments you requested have failed.
    {% endif %}
    </p>

    {% if results['exception'] %}
    <p>
      The following exception was caught during execution: {{ results['exception'] }}
    </p>
    {% endif %}
    
    You can see all the alignments and the comparison in <a href=https://biocom.uib.es/util-aligner-results/{{ result_id }} > results </a>
  </body>
</html>
